// Reset padding and margin for all objects
* {
    margin: 0;
    padding: 0;
}

// WRAPPER
.wrapper-results, .wrapper-form {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

// h1 - 96 px - Varta Bold
// h2 - 80 px - Varta Bold
// p - 40 px - Inter regular
// form select/button  - 40 px - Inter semi-bold
// gallery-title - 50 px - Inter semi-bold

// FONT SIZE, STYLES, COLORS
h1, h2 {
   font-size: 5rem; 
   font-family: Varta;
}

h2, label {
    color: $primaryColor;
}

p, button, a, label{
    font-family: Inter;
    font-size: 2.5rem;
}

.gallery-title {
    font-size: 3.1rem;
    text-align: center;
}

a, button {
    background-color: $quaternaryColor;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
// BACKGROUND COLORS 
header {
    background-color: $primaryColor;
}

.content {
    background-color: $resultsColor;
}

.form {
    background-color: $secondaryColor;
}

.results {
    background: $tertiaryColor;
}

footer {
    background-color: $footerColor;
}
