.results {
    height: 100vh;
}

.gallery {
    display: none;
        & .results-header {
        background-image: url(./../assets/art-gallery.jpeg);
        background-size: cover;
        background-position: calc(20%);
        min-height: 40vh;
        }
        & .wrapper-results {
        height: 100vh;
        display: flex;
        flex-direction: column;
        & .reset {
            text-align: center;
            font-size: 20px;
            position: relative;
            left: 85%
        }
        & .reset:hover {
            background-color: $tertiaryColor;
            cursor: pointer;
        }          
        
        & .reset:focus {
            background-color: $tertiaryColor;
            cursor: pointer;
        }          
        & a {
            width: 13%;
            text-decoration: none;
        }
    }
    & .glider {
        height: 75vh;
    }
}



