@media (max-width: 1164px) {
    .intro {
        display: flex;
        flex-direction: column;
        & h2 {
            text-align: center;
        }
        & .description, .form {
            width: 100%;
        }
    }
    form {
        & label {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width: 1020px) {
   .title {
    flex-direction: column;
   }
}

@media (max-width: 763px) {
    header {
        & h1 {
            font-size: 4rem;
        }
    }
}
@media (max-width: 720px) {
    .intro {
        & p {
            font-size: 2rem;
        }
    }
    .gallery {
        & .wrapper-results {
            & .reset {
                left: 25%;
                width: 50%;
            }
        }
    }
}

@media (max-width: 608px) {
    header {
        & h1 {
            font-size: 3rem;
        }
    }       
}
@media (max-width: 480px) {
    .intro {
        & p {
            font-size: 1.5rem;
        }
    }
    form {
        & .department-type, .artwork-type {
            font-size: 1rem !important; 
        }
    }
    footer {
        & p {
            font-size: 1rem;
        }
    }
    header {
        & h1 {
            font-size: 2rem;
        }
    }
}